{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{% block title_header %}
    ایجاد تگ / برچسب
{% endblock %}{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">ایجاد تگ / برچسب</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div style="margin: 20px 0" class="col-6 text-center">
                            {{ form.title|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-6 text-center">
                            {{ form.slug|add_class:"form-control"|as_crispy_field }}
                        </div>
                        {% if user.is_superuser %}
                            <div style="margin: 20px 0" class="col-12 text-center">
                                {{ form.active|as_crispy_field }}
                            </div>
                        {% endif %}

                        <button class="btn btn-success btn-block" type="submit">ایجاد تگ / برچسب</button>

                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}