{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{% block title_header %}
    ویرایش اخبار اصلی
{% endblock %}{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">ویرایش اخبار اصلی</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div style="margin: 20px 0" class="col-6">
                            {{ form.news|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.news_1|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.news_2|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.news_3|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.news_4|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.active|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <button class="btn btn-success btn-block" type="submit">ویرایش اخبار اصلی</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}