{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{% block title_header %}
    حذف خبر
{% endblock %}{% endblock %}

{% block content %}

    <div class="col-md-8 text-center mx-auto">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left py-2">حذف خبر</h3>
            </div>
            <div class="card-body py-4">
                <form method="post">{% csrf_token %}
                    <p class="py-2">آیا از حذف مقاله « <span class="text-danger text-bold">{{ object }}</span> » نوشته شده توسط « <span class="text-danger text-bold">{{ object.author.get_full_name }}</span> » مطمئن هستید ؟ </p>
                    <input class="btn btn-danger" type="submit" value="حذف">
                </form>
            </div>
        </div>
    </div>


{% endblock %}