{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{% block title_header %}
    ویرایش دسته بندی اخبار
{% endblock %}{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">ویرایش دسته بندی اخبار</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">


                        <div style="margin: 20px 0" class="col-6">
                            {{ form.title|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-6">
                            {{ form.parent|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-6">
                            {{ form.name|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.position|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-6">
                            {{ form.active|add_class:"form-control"|as_crispy_field }}
                        </div>


                        <div style="margin: 20px 0" class="col-12">
                            <button class="btn btn-success btn-block" type="submit">ارسال دسته بندی خبر</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}