{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}{% block title_header %}
    ویرایش تنظیمات سایت
{% endblock %}{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title mb-0 float-left">ویرایش تنظیمات سایت</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div style="margin: 20px 0" class="col-6">
                            {{ form.site_title|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-12">
                            {{ form.copyright|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-4">
                            {{ form.site_logo|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-4">
                            {{ form.site_logo_light|add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-4">
                            {{ form.site_icon|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.instagram|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.twitter|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.facebook|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.telegram|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.linkedin|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.youtube|add_class:"form-control"|as_crispy_field }}
                        </div>
                        <div style="margin: 20px 0" class="col-4">
                            {{ form.active  |add_class:"form-control"|as_crispy_field }}
                        </div>

                        <div style="margin: 20px 0" class="col-12">
                            <button class="btn btn-success btn-block" type="submit">ارسال تنظیمات سایت</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}