{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ setting.get_image_or_default_icon }}">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <!-- Bootstrap rtl CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap-rtl.min.css" %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="{% static "vendor/OwlCarousel/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "vendor/OwlCarousel/owl.theme.default.min.css" %}">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="{% static "css/meanmenu.min.css" %}">
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/magnific-popup.css" %}">
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="{% static "css/hover-min.css" %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- For IE -->
    <link rel="stylesheet" type="text/css" href="{% static "css/ie-only.css" %}">
    <!-- Modernizr Js -->
    <script src="{% static "js/modernizr-2.8.3.min.js" %}"></script>
</head>