{% load static %}
<footer>
    <div class="footer-area-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-box">
                        <h2 class="title-bold-light title-bar-left text-uppercase">مطالب پربازدید</h2>
                        <ul class="most-view-post">
                            {% for news in news %}
                                <li>
                                    <div class="media">
                                        <a href="{{ news.get_url }}">
                                            <img width="100px" src="{{ news.get_image_or_default }}" alt="post"
                                                 class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="{{ news.get_url }}">{{ news.title }}</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                                <span>
                                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                </span>{{ news.jtime_date }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12">
                    <div class="footer-box">
                        <h2 class="title-bold-light title-bar-left text-uppercase">دسته های محبوب</h2>
                        <ul class="popular-categories">
                            {% for category in categories %}
                                {% if category.parent == None %}
                                    <li>
                                        <a href="{% url "news:news_list_category" category.name %}">{{ category.title }}
                                            <span>{{ category.name }}</span>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-box">
                        <h2 class="title-bold-light title-bar-left text-uppercase">گالری مطالب</h2>
                        <ul class="post-gallery shine-hover ">
                            {% for gallery in galleries %}
                                <li>
                                    <a href="{% url 'gallery:gallery_detail' gallery.id %}">
                                        <figure>
                                            <img style="width: 100px" src="{{ gallery.image.url }}" alt="{{ gallery.title }}" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <a href="index.html" class="footer-logo img-fluid">
                        <img src="{{ setting.get_image_or_default_light }}" alt="{{ setting.site_title }}"
                             class="img-fluid">
                    </a>
                    <ul class="footer-social">
                        {% if setting.facebook %}
                            <li>
                                <a target="_blank" href="https://facebook.com/{{ setting.facebook }}"
                                   title="{{ setting.facebook }}">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if setting.instagram %}
                            <li>
                                <a target="_blank" href="https://instagram.com/{{ setting.instagram }}"
                                   title="{{ setting.instagram }}">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if setting.twitter %}
                            <li>
                                <a target="_blank" href="https://twitter.com/{{ setting.twitter }}"
                                   title="twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}

                        {% if setting.youtube %}
                            <li>
                                <a target="_blank" href="https://youtube.com/{{ setting.youtube }}"
                                   title="{{ setting.youtube }}">
                                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if setting.linkedin %}
                            <li>
                                <a target="_blank" href="https://linkedin.com/{{ setting.linkedin }}"
                                   title="{{ setting.linkedin }}">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if setting.telegram %}
                            <li>
                                <a target="_blank" href="https://t.me/{{ setting.telegram }}"
                                   title="{{ setting.telegram }}">
                                    <i class="fa fa-telegram" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                    <p>{{ setting.copyright|safe }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
