{% url 'home_page' as home_page %}
{% url 'gallery:gallery_list' as gallery_list %}
<div class="main-menu-area" id="sticker">
    <div class="container">
        <div class="bg-body box-layout">
            <div class="bg-primarytextcolor pl-15 pr-15">
                <div class="row no-gutters d-flex align-items-center">
                    <div class="col-lg-10 col-md-10 d-none d-lg-block position-static min-height-none">
                        <div class="ne-main-menu">
                            <nav id="dropdown">
                                <ul>
                                    <li class="{% if request.path == home_page %}active{% endif %}">
                                        <a href="{% url "home_page" %}">خانه</a>
                                    </li>
                                    {% for category in categories %}
                                        {% if category.parent == None %}
                                            <li class="{% if request.path == category.get_url %}active{% endif %}">
                                                <a href="{% url "news:news_list_category" category.name %}">{{ category.title }}</a>

                                                {% if category.children.get_active_category %}
                                                    {% include "shared/menu_category_loop.html" %}
                                                {% endif %}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <li class="{% if request.path == gallery_list %}active{% endif %}">
                                        <a href="{{ gallery_list }}">تصاویر</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 text-right position-static min-height-none">
                        <div class="header-action-item on-mobile-fixed">
                            <ul>
{#                                <li>#}
{#                                    <form action="{% url 'news:news_search' %}" id="top-search-form"#}
{#                                          class="header-search-light">#}
{#                                        <input type="text" class="search-input" placeholder="جستجو ..."#}
{#                                               required="" style="display: none;" value="{{ request.GET.q }}" name="q">#}
{#                                        <button class="search-button">#}
{#                                            <i class="fa fa-search" aria-hidden="true"></i>#}
{#                                        </button>#}
{#                                    </form>#}
{#                                </li>#}
                                {#                                <li class="d-none d-sm-block d-md-block d-lg-none">#}
                                {#                                    <button type="button" class="login-btn" data-toggle="modal"#}
                                {#                                            data-target="#myModal">#}
                                {#                                        <i class="fa fa-user" aria-hidden="true"></i>ورود#}
                                {#                                    </button>#}
                                {#                                </li>#}
                                <li class="login-btn">
                                    {% if request.user.is_authenticated %}
                                        <a href="{% url 'account:home' %}">
                                            <button type="button" class="login-btn" data-toggle="modal"
                                                    data-target="#myModal">
                                                <i class="fa fa-user" aria-hidden="true"></i><span
                                                    class="hidden-xs">پنل کاربری</span>
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url "account:login" %}">
                                            <button type="button" class="login-btn" data-toggle="modal"
                                                    data-target="#myModal">

                                                <i class="fa fa-user" aria-hidden="true"></i><span
                                                    class="hidden-xs">ورود</span>
                                            </button>
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
